{% extends "base.html" %}
{% block content %}

<div class="container">
<div  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <h3>{{post.title}}</h3>
            <h1>{{post.text}}</h1>
            <p>{{post.created_at}} by {{post.author}}</p>
        </div>
    {% if user.is_authenticated %}
    <h3><a href="{%url "comments" pk=post.id %}">Comments</a></h3>
    {% endif %}
    </div>
</div>

{% endblock %}